* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 90svh;
    width: 90%;
    margin: 5svh auto;
    background-color: #fafafa;
    border-radius: 25px;
    box-shadow: rgb(124, 124, 124) 0px 10px 30px -10px;
}

#header-container {
    height: 30svh;

}

#header-img {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    object-position: 0% 22%;
}

#profile-pic-container {
    border-radius: 50%;
    width: 25svh;
    height: 25svh;
    position: absolute;
    top: 22%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0.5svg
}

#profile-pic {
    background-color: #fafafa;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0.5svh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11svh;
    margin-top: 10svh;
    padding: 1svh;
}

#leo-10-bg {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45svh;
    opacity: 0.19;
}

#name, #at-name, #bio-text {
    font-family: "Roboto", sans-serif;
}

#name {
    font-size: 3rem;
    font-weight: 700;
}

#at-name {
    font-size: 0.8rem;
    font-style: italic;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0.3svh;
    font-size: 1rem;
    padding: 1svh;
}

.socials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2svh 0;
}

#www-icon, #fb-icon, #ig-icon {
    height: 4svh;
    width: 4svh;
    margin: 1svh 2svh;
}