* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.loader-container {
    background-color: #fafafa;
    width: 600px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(243, 178, 41);
}

.loader {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: rgb(243, 178, 41);
}

.dot {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
}

.star {
    font-size: 1.7rem;
    margin: 0;
    color: rgb(243, 178, 41);
    position: relative;
    top: -9px;
    right: 2px;
}

#dot-1 {
    position: relative;
    top: 60px;
    right: 35px;
    transform: rotate(35deg);
    animation: dotJump 2s 200ms infinite;
    animation-timing-function: cubic-bezier(.17, .54, 1, 1.43);
}


#dot-2 {
    position: relative;
    top: 40px;
    animation: dotJump 2s 100ms infinite;
    animation-timing-function: cubic-bezier(.17, .54, 1, 1.43);
}

#dot-3 {
    position: relative;
    top: 20px;
    left: 35px;
    animation: dotJump 2s 0ms infinite;
    animation-timing-function: cubic-bezier(.17, .54, 1, 1.43);

}

@keyframes dotJump {
    0% {
        transform: translateY(0px);
        background-color: rgba(16, 63, 121, 1);
    }

    33% {
        transform: translateY(-20px);
        background-color: rgba(16, 63, 121, 0.15);
    }

    66% {
        transform: translateY(-50px);
        background-color: rgba(16, 63, 121, 0.85);
    }

    99% {
        transform: translateY(10px);
        background-color: rgba(16, 63, 121, 0.9);
    }

    100% {
        transform: translateY(0px);
        background-color: rgba(16, 63, 121, 1);
    }
}